<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label>Título</label>
        <input type="text" class="form-control" formControlName="titulo">
    </div>
    <div class="mb-3">
        <label>Texto</label>
        <textarea cols="30" rows="10" class="form-control" formControlName="texto"></textarea>
    </div>
    <div class="mb-3">
        <label>Autor</label>
        <input type="text" class="form-control" formControlName="autor">
    </div>
    <div class="mb-3">
        <label>Imagen</label>
        <input type="text" class="form-control" formControlName="imagen">
    </div>
    <div class="mb-3">
        <label>Fecha</label>
        <input type="text" class="form-control" formControlName="fecha">
    </div>
    <div class="mb-3">
        <label>Seleccione una categoría</label>
        <select class="mb-3" value="Elija una categoría" class="form-control" formControlName="categoria">
            <option value="ciencia">Ciencia</option>
            <option value="deporte">Deporte</option>
            <option value="politica">Política</option> class="mb-3"
        </select>
    </div>
    <input type="submit" value="Postear" class="btn btn-success">
</form>


<p></p>